/*Limpar formatações´padrão*/

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica,sans-serif;
	background: #e6e6e6;
}


/****Formatação do menu****/
#area-cabecalho{
	padding: 15px;
	text-align: center;
	background: #0396F6;
}

#area-logo, #area-menu{
	padding: 10px;
}

a{
	text-decoration: none;
}

a:link, a:visited {
	color: #FFF;
	padding: 8px 15px;
}

a:hover{
	background: #FFF;
	color: #0396F6;
}
/****LAYOUT****/
#area-principal{
	width: 920px;
	margin: 0 auto;

}
#area-postagens{
	width: 660px;
	float: left;
}
#area-lateral{
	width: 240px;
	float: right;
}

.postagem{
	padding: 20px;
	margin-bottom: 20px;
	background: white;
}

#rodape{
	clear: both;
	text-align: center;
	padding: 15px;
	background: #CCC;
}


/****Formatações gerais****/
h1{
	color: #034A78;
	font-size: 2.5em;
}

.branco{
	color: #FFF;
}